--- layout: base ---
{%- if page.title -%}
{{ page.title }}
{%- endif -%} {{ content }} {% if site.paginate %} {% assign posts = paginator.posts %} {% else %} {% assign posts = site.posts %} {% endif %} {%- if posts.size > 0 -%} {%- if page.list_title -%}
{{ page.list_title }}
{%- endif -%}
{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%} {%- for post in posts -%}
{{ post.date | date: date_format }}
{{ post.title | escape }}
{%- if site.show_excerpts -%} {{ post.excerpt }} {%- endif -%}
{%- endfor -%}
{% if site.paginate %}
{%- if paginator.previous_page %}
{{ paginator.previous_page }}
{%- else %}
•
{%- endif %}
{{ paginator.page }}
{%- if paginator.next_page %}
{{ paginator.next_page }}
{%- else %}
•
{%- endif %}
{%- endif %} {%- endif -%}
